/* Write your CSS here */
.notification-card {
  display: flex;
}
.notification-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 23px;
  width: 100%;
  max-width: 600px;
  border: 1px solid #e5e5e5;
  border-radius: 7px;
  margin-bottom: 15px;
}
.close-icon {
  height: 30px;
  min-width: 28px;
  margin: 0;
  margin-left: 20px;
}
